[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.tmp
*.user
*.userosscache
*.sln.docstates

*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

*.sln.iml

project.lock.json
project.fragment.lock.json
artifacts/

*.nupkg

*.snupkg

**/[Pp]ackages/*

!**/[Pp]ackages/build/

*.nuget.props
*.nuget.targets

*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store